{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["airbnb", "prettier"],
  "parser": "@babel/eslint-parser",
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "requireConfigFile": false,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": ["error"],
    "max-len": [
      "error",
      {
        "ignoreComments": true
      }
    ],
    "no-console": "off",
    "no-alert": "off",
    "import/prefer-default-export": "off",
    "arrow-body-style": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
