button {
  appearance: initial;
  align-items: center;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  justify-content: center;
  outline: none;
  pointer-events: auto;
  text-decoration: none;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  nav-index: 1;
}
