/* Fonts */

@mixin font-face(
  $font-family,
  $font,
  $path-fonts,
  $weight: normal,
  $style: normal
) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: local("#{$font}"),
      url("#{$path-fonts}/#{$font-family}/#{$font}.woff") format("woff"),
      url("#{$path-fonts}/#{$font-family}/#{$font}.ttf") format("truetype"),
      url("#{$path-fonts}/#{$font-family}/#{$font}.eot?#iefix")
        format("embedded-opentype");
  }
}

@include font-face($font-family, "Montserrat-Thin", $path-fonts, 100, normal);
@include font-face($font-family, "Montserrat-ThinItalic", $path-fonts, 100, italic);
@include font-face($font-family, "Montserrat-Light", $path-fonts, 300, normal);
@include font-face(
  $font-family,
  "Montserrat-LightItalic",
  $path-fonts,
  300,
  italic
);
@include font-face($font-family, "Montserrat-Regular", $path-fonts, normal, normal);
@include font-face($font-family, "Montserrat-Italic", $path-fonts, normal, italic);
@include font-face($font-family, "Montserrat-Medium", $path-fonts, 500, normal);
@include font-face(
  $font-family,
  "Montserrat-MediumItalic",
  $path-fonts,
  500,
  italic
);
@include font-face($font-family, "Montserrat-Bold", $path-fonts, bold, normal);
@include font-face(
  $font-family,
  "Montserrat-BoldItalic",
  $path-fonts,
  bold,
  italic
);
@include font-face($font-family, "Montserrat-Black", $path-fonts, 900, normal);
@include font-face(
  $font-family,
  "Montserrat-BlackItalic",
  $path-fonts,
  900,
  italic
);

/* /Fonts */