@use '../../styles/styles' as *;

.header {
  margin: 0;
  font-weight: $main-font-weight + 100;
  letter-spacing: $letter-spacing;

  &_h1 {
    font-weight: $main-font-weight + 200;
    font-size: $main-font-size + 2.4rem;
    line-height: $main-line-height + 2.4rem;
    letter-spacing: $letter-spacing * 2;
  }

  &_h2 {
    font-size: $main-font-size + 2rem;
    line-height: $main-line-height + 2rem;
    letter-spacing: $letter-spacing * 2;
  }
  
  &_h3 {
    font-size: $main-font-size + 1.6rem;
    line-height: $main-line-height + 1.6rem;
    letter-spacing: $letter-spacing * 2;
  }
  
  &_h4 {
    font-size: $main-font-size + 1.2rem;
    line-height: $main-line-height + 1.2rem;
  }

  &_h5 {
    font-size: $main-font-size + 0.8rem;
    line-height: $main-line-height + 0.8rem;
  }

  &_h6 {
    font-size: $main-font-size + 0.4rem;
    line-height: $main-line-height + 0.4rem;
  }
}

