.toggle {
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.6rem;
    }
    &__body {
        display: flex;
    flex-direction: column;
    }
}
